<?xml version="1.0" encoding="UTF-8" ?>
<launch>

	<node name="my_drive_control.py" pkg="assignment6_rosinchen" 
		type="my_drive_control.py" output="screen">
		<param name="speed_rpm" value="200" />
	</node>

	<node name="steering_calibration" pkg="assignment6_rosinchen"
		type="steering_calibration.py" output="screen">
	</node>
	
</launch>

